body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('walter-white-from-breaking-bad-1920x1080.jpg');
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
  padding: 0px 12px;
}
.title, .dancerButtons {
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:30px solid rgb(46, 111, 168);
  border-radius:30px;
  position:absolute;
  transition: border 1s linear;
}